@model lasecExamen.Models.Log_Carrera

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Log_Carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_Animal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_Animal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombre_CarreraId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_CarreraId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha_carrera_ganada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha_carrera_ganada)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_log_carrera" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
