@model lasecExamen.Models.Log_Carrera

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Log_Carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_Animal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_Animal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombre_CarreraId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_CarreraId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha_carrera_ganada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha_carrera_ganada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_log_carrera">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
