@model lasecExamen.Models.Log_Carrera

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Log_Carrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_log_carrera" />
            <div class="form-group">
                <label asp-for="nombre_Animal" class="control-label"></label>
                <input asp-for="nombre_Animal" class="form-control" />
                <span asp-validation-for="nombre_Animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_CarreraId" class="control-label"></label>
                <input asp-for="nombre_CarreraId" class="form-control" />
                <span asp-validation-for="nombre_CarreraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_carrera_ganada" class="control-label"></label>
                <input asp-for="fecha_carrera_ganada" class="form-control" />
                <span asp-validation-for="fecha_carrera_ganada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
