@model IEnumerable<lasecExamen.Models.Log_Carrera>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_CarreraId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_carrera_ganada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_Animal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_CarreraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_carrera_ganada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_log_carrera">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_log_carrera">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_log_carrera">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
