@model lasecExamen.Models.Carrera

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tamano_carrera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tamano_carrera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descanso_carrera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descanso_carrera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipo_carrera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo_carrera)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_carrera">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
