@model IEnumerable<lasecExamen.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tamano_carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descanso_carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tamano_carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descanso_carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_carrera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_carrera">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_carrera">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_carrera">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
