﻿@model lasecExamen.Controllers.ItemViewModel

@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="~/css/homeIndex.css">
 
}

<h1>Fabula de la tortuga y la liebre</h1>


    <select id="tipo_carrera" class="form-control">
@{  
         int counter1 = 1;
        foreach (var item in Model.Carreras) {
            
            

            <option value="@counter1">
                @Html.DisplayFor(modelItem => item.tipo_carrera)
            </option>
            counter1 = counter1 + 1;  

        }

}
    </select>

@{
    int counter = 1;
    foreach (var item in Model.Animales) {
                    <div id="imagen_@counter">
                     
                    </div>
                    <div id="myProgress_@counter">
                        <div id="myBar_@counter"></div>
                    </div>
                    <input id="id_animal" type="hidden" name="nombre" value="@Html.DisplayFor(modelItem => item.id_animal)"><br>
                    <input id="nombre" type="hidden" name="nombre" value="@Html.DisplayFor(modelItem => item.nombre_animal)"><br>
                    <input id="velocidad" type="hidden" name="velocidad" value="@Html.DisplayFor(modelItem => item.velicidad_animal)"><br>
                    <input id="descanso" type="hidden" name="descanso" value="@Html.DisplayFor(modelItem => item.descanso_animal)"><br>
                    <input id="contador" type="hidden" name="contador" value="@counter"><br>
                    <br>
        counter = counter + 1;           
    }
}
<button class="btn btn-primary" onclick="hiloAnimales()">Iniciar Carrera</button> 









<form action="/Log_Carrera/Create" method="post">
            
            <div class="">
                <input   style="visibility:hidden" class="" type="text" id="nombre_Animal" name="nombre_Animal" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="nombre_Animal" data-valmsg-replace="true"></span>
            </div>
            <div class="">
                <input style="visibility:hidden"  class="" type="text" id="nombre_CarreraId" name="nombre_CarreraId" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="nombre_CarreraId" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Carrera" class="btn btn-default">
            </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KCZNnjwZNFHixtmow7KI0hf1hfeO0X-_2KvEotKfp44Oi0SWFGtdwOsdYt5qy7l6KNnr5HUWp3ny4EVQBv9JL_cKDVuJoB_eqvKbJgWQOaX_7CXbXWDmmIH-cH06ByC8Ku4NKhsx2NEGa02sZir22c"></form>



@section Scripts {
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/js/Concurrent.Thread.js"></script>
    <script src="~/js/homeIndex.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
