@model lasecExamen.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_animal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_animal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.velicidad_animal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.velicidad_animal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descanso_animal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descanso_animal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_animal">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
