@model lasecExamen.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_animal" />
            <div class="form-group">
                <label asp-for="nombre_animal" class="control-label"></label>
                <input asp-for="nombre_animal" class="form-control" />
                <span asp-validation-for="nombre_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="velicidad_animal" class="control-label"></label>
                <input asp-for="velicidad_animal" class="form-control" />
                <span asp-validation-for="velicidad_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descanso_animal" class="control-label"></label>
                <input asp-for="descanso_animal" class="form-control" />
                <span asp-validation-for="descanso_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
